*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    margin: 20px;
}

#logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 35px;
}

ul{
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 0;
    margin: 0;
}

#botaoReserva{
    border: 1px solid black;
    padding: 5px 20px;
    border-radius: 20px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color:rgb(226, 0, 196);
    text-decoration: underline;
}

li{
    list-style: none;
}

.banner{
    background-image: url("/assets/banner.jpg");
    background-size: cover;
    position: relative;
    height: 65vh;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: white;
}

img{
    width: 300px;
}